{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Flight Calculator</title>
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
</head>
<body>
	<div id = "form-container">
		<div id = "form-title">
			<img src = "{% static 'img/icon.png' %}">
			<p>Flight Calculator</p>
		</div>
		<form id = "form-info" method = "get" action = "#">
			{% csrf_token %}
			<div class = "form-input">
				<p>Departure City</p>
				<input id = "departure" name = "departure" placeholder = "Detroit" type = "text">
			</div>
			<div class = "form-input">
				<p>Arrival City</p>
				<input id = "arrival" name = "arrival" placeholder = "Los Angeles" type = "text">
			</div>
			<button id = "submit" name = "submit" type = "submit">Calculate</button>
		</form>
		<div id = "loading-box">
			<img src = "{% static 'img/loading.gif' %}">
			<p>This may take up to a minute.</p>
		</div>
		<div id = "results-box">
			<p id = "predicted-price"></p>
		</div>
	</div>
	
	<script src = "{% static 'js/jquery.js' %}"></script>
	<script src = "{% static 'js/index.js' %}"></script>
</body>
</html>